* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  background: #f2f2f2;
}
h1,
h2 {
  margin: 0;
}
p {
  margin: 0;
}
input[type=text] {
  border: none;
  border-radius: 2px;
}
input[type=text]:focus {
  outline: none;
}
.link {
  text-decoration: none;
}
.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #7828b4;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 30;
}
.navbar .navbar_logo {
  font-size: 36px;
  font-family: 'Song Myung', serif;
  color: #fff;
  position: absolute;
  left: 78px;
}
.navbar .navbar_search {
  position: absolute;
  left: 384px;
  background: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  width: 388px;
  height: 30px;
  display: flex;
  align-items: center;
}
.navbar .navbar_search i {
  color: rgba(255,255,255,0.5);
}
.navbar .navbar_search_input {
  background: none;
  width: 280px;
  padding: 0 10px;
  color: rgba(255,255,255,0.5);
  font-size: 20px;
}
.navbar .navbar_search_input::placeholder {
  color: rgba(255,255,255,0.5);
}
.sidebar {
  width: 20%;
  height: 539px;
  background: #ebebeb;
  position: fixed;
  left: 3%;
  top: 70px;
}
.sidebar .sidebar_col {
  width: 100%;
  padding: 24px 20px;
}
.sidebar .sidebar_col h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.sidebar .sidebar_col select {
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 2px;
  font-size: 16px;
}
.sidebar .sidebar_col_inputDate {
  border: none;
  margin: 5px 5px;
}
.sidebar .sidebar_col_label {
  width: 40px;
  display: inline-block;
  text-align: right;
}
.main {
  width: 77%;
  margin-left: 23%;
  padding: 80px 30px;
}
.main .main_state_container {
  width: 100%;
}
.main .main_state_container p,
.main .main_state_container h2 {
  display: inline;
  font-size: 24px;
}
.main .main_state_container h2 {
  color: #7828b4;
  margin: 0 4px;
}
.main .main_state_row {
  width: 100%;
  padding: 20px 0px;
  display: flex;
}
.main .main_state_col {
  width: 128px;
  height: 35px;
  border: 1px solid #7828b4;
  border-radius: 100px;
  margin-right: 10px;
  color: #7828b4;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
}
.main .main_state_col i {
  margin-left: 5px;
}
.main .main_row {
  width: 100%;
  margin: 0 auto;
}
.main .main_col {
  width: 100%;
  height: 220px;
  margin-bottom: 24px;
  background: #fff;
  display: flex;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.main .main_col img {
  width: 220px;
  height: 100%;
}
.main .main_col:hover {
  box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.2);
  transform: translate(-2px, -2px);
}
.main .main_col_inf {
  width: calc(100% - 220px);
  height: 100%;
  padding: 24px 20px;
}
.main .main_col_inf h2 {
  color: #7828b4;
  font-size: 24px;
  margin-bottom: 10px;
}
.main .main_col_inf_text {
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
  color: #000;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .main_col_inf_type {
  background: #d7d7d7;
  border-radius: 100px;
  width: 131px;
  height: 24px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
.main .main_col_inf_site {
  width: 100%;
  margin: 15px 0;
}
.main .main_col_inf_site p {
  display: inline;
  color: #9b9b9b;
  margin-right: 10px;
}
.main .main_col_inf_site i {
  font-size: 20px;
  margin: 0 5px;
  color: #3e3d3d;
}
.main .content_crumbs {
  width: 100%;
  height: 48px;
  background: #ebebeb;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.main .content_crumbs p {
  color: #6f6f6f;
  margin-right: 10px;
}
.main .content_crumbs_explore {
  color: #7828b4;
  font-size: 16px;
  margin-right: 10px;
}
.main .content_img {
  width: 100%;
  display: block;
}
.main .content_container {
  width: 100%;
  background: #fff;
  padding: 20px 40px;
}
.main .content_container h1 {
  font-size: 36px;
  color: #7828b4;
  text-align: center;
}
.main .content_inf {
  width: 100%;
  margin: 15px 0;
}
.main .content_inf p {
  display: inline;
  color: #9b9b9b;
  margin-right: 20px;
}
.main .content_inf i {
  font-size: 20px;
  margin: 0 5px;
  color: #3e3d3d;
}
.main .content_inf_text {
  letter-spacing: 0.1rem;
}
.main .content_goBack {
  width: 100px;
  height: 40px;
  border: 1px solid #7828b4;
  border-radius: 5px;
  margin-right: 10px;
  background: #7828b4;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.main .content_goBack i {
  margin-left: 5px;
}
