* 
    box-sizing border-box
html 
    font-family: 'Roboto', sans-serif;
body 
    background #E1E1E1 
    height 100%
    padding-bottom 50px
    margin 0
h2  
    margin 0 
    font-size 24px
// 共用 
.displayNone 
    display none
.link 
    text-decoration none
// color 
t_blue = #4A90E2
t_lightGray = #F2F2F2


navbar_row__width = 660px
navbar_row__height = 76px
.navbarPlaceholder 
    width 100% 
    height 76px
.navbar 
    navbar_row__height = 76px
    height 76px 
    width 100% 
    position fixed 
    z-index 30
    background t_blue
    .navbar_row 
        width navbar_row__width
        margin 0 auto 
        height 100% 
        display flex
    .navbar_col 
        width (navbar_row__width/3)
        height 100%
        h2 
            color #FFFFFF
            line-height navbar_row__height
            margin 0
            text-align center
            font-weight 200
.container 
    margin 0 auto 
    width 620px
    .todo_input 
        width 350px 
        height 35px
        border-radius 5px 
        margin 24px 0px
        padding 0px 1rem
        font-size 24px
        border 2px solid #C8C8C8 
    .showAddtodo_button 
        width 100px 
        height h=40px 
        margin 0 auto 
        background #757575
        margin-top 20px
        border-radius 5px
        text-align center
        line-height h 
        color white
        &:hover 
            cursor pointer 

.addTodo_container 
    width 100%
    border-radius 5px
    margin-top 25px
    .addTodo_title
        height 76px
        width 100%
        background t_lightGray
        padding 0px 32px 
        display flex 
        align-items center 
        position relative
        margin-bottom 2px
    
    .addTodo_body
        background t_lightGray 
        width 100%
        padding 24px 72px 
    .addTodo_body_col 
        width 100%
        margin-bottom 20px
    .addTodo_body_col_label 
        font-size 20px
        padding-bottom 5px
        i  
            margin-right 9px
    .addTodo_body_col_inputContainer
        padding 0 20px
    .addTodo_body_col_input 
        border-radius 2px 
        border-style none 
        margin-right 5px
    .addTodo_body_col_uploadButton 
        width 32px  
        height h = 32px 
        border-radius 2px 
        background #C8C8C8
        color white 
        font-size 24px
        line-height h 
        text-align center
        display block
        &:hover 
            cursor pointer
    .addTodo_body_col_textarea 
        width 100% 
        height 100px
        resize none
        border-style none 
        border-radius 5px

    .addTodo_bottomButtonRow 
        width 100%
        height h = 60px 
        display flex
        text-align center
        h2  
            line-height h
            font-weight 100
    .addTodo_bottomButtonRow_cancel
        width 50% 
        height 100%
        color #D0021B 
        background white
        transition background 0.3s ease-out
        &:hover 
            background #ffe7e7
            cursor pointer
    .addTodo_bottomButtonRow_add 
        width 50% 
        height 100%
        color white      
        background t_blue
        transition background 0.2s ease-out
        &:hover 
            background #3982D7
            cursor pointer
// --- todo 共用 ---
.Todo_title_check 
        width 24px 
        height 24px
        background white 
        border-radius 2px
        margin-right 16px
.Todo_title_check-checked 
     background t_blue
     color white 
     text-align center 
     line-height 24px
.Todo_title_todoName 
    width 248px 
    overflow: hidden;
    margin 0
    white-space: nowrap;/*死都不換行*/
    text-overflow: ellipsis;/*產生...效果*/ 
.Todo_title_functionList 
    width 100px 
    height 24px
    position absolute 
    right 30px
    display inline-flex
    i 
        font-size 24px
.Todo_title_functionList_star 
    margin-right 32px 
.Todo_title_functionList_star-imp 
    color #F5A623
    margin-right 32px  
.Todo_title_functionList_pen 
    color t_blue
// ---  ----

.todoList_row 
    width 100%
    margin-top 20px
    .todoList_col 
        width 100% 
        height 102px
        background t_lightGray
        border-radius 5px
        margin-bottom 8px
    .todoList_col-imp
        background #FFF2DC
    .todoList_titleContainer
        width 100% 
        height 60px 
        display flex
        align-items center 
        position relative
        padding 0px 32px 
    .todoList_stateContainer 
        min-width 200px 
        height auto 
        margin-left 75px
        display flex
        color #757575        
        i 
            margin-right 5px
        p 
            margin 0
    .todoList_col-completed
        width 100%
        height 76px 
        display flex
        align-items center 
        position relative
        background t_lightGray
        border-radius 5px
        margin-bottom 8px
        text-decoration line-through
        color #9B9B9B